/* .containerlogin {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin-top: 50px; 
}

.containerlogin h3 {
  text-align: center;
  margin-bottom: 20px;
}

.containerlogin .form-group {
  margin-bottom: 15px;
}

.containerlogin label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.containerlogin input[type="email"],
.containerlogin input[type="text"],
.containerlogin input[type="password"] {
  width: 100%;
  padding: 7px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.containerlogin button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.containerlogin button[type="submit"]:hover {
  background-color: #45a049;
}

.container{
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f1f1f1;
} */

/* baru */
body {
  background: linear-gradient(to right, #FFD700, #FFA500);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: #f2f2f2;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-img {
  width: 50%;
  padding-right: 20px;
}
.col-img img {
  max-width: 100%;
}
.containerlogin {
  width: 50%;
  padding: 20px;
  background-color: #fff;
}
.containerlogin h3 {
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form-group button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-group a {
  text-decoration: none;
  color: #4CAF50;
  margin-left: 10px;
}